*{
    margin: 0;
    padding: 0;

}
body{
    background: #a3a3a8;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
.container {
    width: 80%;
    margin: 50px auto;

}
.contact-box{
    background-color: rgb(245, 250, 253);
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #4f31f5;
    color: #09090c;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row  .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;

}
textarea{
    width: 100px;
    border: 1px solid rgb(247, 243, 243);
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: flex;
    color: #050404;
}
button{
    background: #4f31f5;
    width: 100px;
    border: none;
    outline: none;
    color: #050404;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(red, green, blue, alpha);
}
.contact-left h3{
    color: #4f31f5;
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
