@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
/*hero section*/
#hero{
    background-image: url(ani.jpg);
    background-size: cover;
    background-position:cover;
    position: relative;
    z-index: 1;
    
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(2, 3, 3);
    opacity: .7;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: rgb(239, 239, 252);

    
   
}

#hero .cta{
    display: block;
    padding: 10px 30px;
    color: rgb(225, 220, 235);
    background-color: transparent;
    border: 2px solid rgb(194, 195, 199);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color, color;
    align-items: center;

}
#hero .cta:hover{
    color: rgb(91, 94, 102);
    background-color: rgb(220, 220, 238);
}
/* end hero section*/
