@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size: 10px;
    font-family: 'montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
/*hero section*/
#hero{
    background-image: url(moons.gif);
    background-size: cover;
    background-position:cover;
    position: relative;
    z-index: 1;


    
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(2, 3, 3);
    opacity: .7;
    z-index: -1;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: rgb(226, 226, 235);

    
   
}

#hero .cta{
    display: block;
    padding: 10px 30px;
    color: rgb(237, 237, 241);
    background-color: transparent;
    border: 2px solid rgb(248, 249, 250);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color, color;
    align-items: center;
    text-align: center;

}
#hero .cta:hover{
    display: block;
    padding: 10px 30px;
    color: rgb(237, 237, 248);
    background-color: transparent;
    border: 2px solid rgb(235, 236, 241);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color, color;
    align-items: center;
    text-align: center;

 }
 #hero .cta:hover{
    display: block;
    padding: 10px 30px;
    color: rgb(237, 237, 241);
    background-color: transparent;
    border:2px solid rgb(235, 236, 241);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 3opx;
    transition: .3s ease;
    transition-property: background-color, color;
    align-items: center;
    text-align: center;

}
#hero .cta:hover{
    display: block;
    padding: 10px 30px;
    color: rgb(237, 237, 241);
    background-color: transparent;
    border:2px solid rgb(235, 236, 241);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 3opx;
    transition: .3s ease;
    transition-property: background-color, color;
    align-items: center;
    text-align: center;  
}
#hero .cta:hover{
    display: block;
    padding: 10px 30px;
    color: rgb(237, 237, 248);
    background-color: transparent;
    border: 2px solid rgb(235, 236, 241);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color, color;
    align-items: center;
    text-align: center;

 }
    

#hero .container{
    display: flex;
    padding: 0px;
    font-size: medium;
}
#hero .cta:hover{
    color: rgb(74, 74, 75);
    background-color: rgb(187, 185, 185);
}
/* end hero section*/
